/* Resetear estilos para una base consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: black; /* Fondo negro */
    color: #fff;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #005566; /* Turquesa */
}

header h1 {
    font-size: 36px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.imagen {
    width: 30%; /* Tres columnas de igual tamaño */
    margin: 10px;
    border: 2px solid #005566; /* Bordes turquesa */
    padding: 10px;
    text-align: center;
}

.imagen img {
    max-width: 100%;
    height: auto;
}