/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*====================================*/
h2{
    color: #4173FF;
    font-weight: 700;
}
/*================BOTON DE MATRICULA====================*/
.Contend-matriculate{
    background-color: #ADE260;
    height: 80px;
}
/*==================Nivel Academico================*/
/*NIVELES EDU*/
#contanier-card{
    margin: 100px;
}
/**Ofrecemos*/
#li-ofrecemos{
}

/**BENEFICIO*/
.benefecio{
    transition: .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 55px 0 0;
    background-color: #EAF2FF;
}

.h5-beneficio{
    text-align: center; 
}
.d-flex{
    justify-content: center;
}
.elemto-beneficio-tex{
    margin-left: 10px;
}
.col{
    margin-top: 20px;
}
/*====================================*/

.servicios-caja {
    display: flex;
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
}
.servicios-caja div{
    margin: 50px;
}
.Aprenden-caja{
    display: flex;
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
}
/*================Edu========*/
/*video*/
/* Estilos para dispositivos móviles y pantallas grandes */
.video-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Ancho máximo para evitar que ocupe toda la pantalla en pantallas grandes */
    margin: 0 auto; /* Centrar el contenedor en pantallas grandes */
    padding-top: 20.25%; /* Relación de aspecto 16:9 */
    overflow: hidden;
    max-height: 450px; /* Altura máxima para evitar que se vea largo hacia abajo en pantallas grandes */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**/
#container-texto-edu div{
    margin: 10px;
}
#container-texto-edu a{
    font-weight: 900;
    font-size: 32px;
    color:#EC3237;
}
h5{
    margin-top: 50px;
}
/*Modelo de aprendisaje*/
#li-ofrecemo-edus{
 color: #4173FF;
}
.bg-border-yellow {
    background-color: #ffe700;
    display: inline-block;
    padding: 5px 20px;
    font-size: 22px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: poppins, Sans-serif;
}
/*ahora la ultima secion */
#empieza-ya {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centrar el contenido */
    background-color: rgb(30,30,30);
    color: #EAF2FF;
    height: 40vh;
}
#empieza-ya h1 {
    color: #EAF2FF;
}

#empieza-ya button {
    font-size: 1.8em;
    font-weight: 500;
    fill: #252853;
    color: #252853;
    background-color: #ffd43b;
    border-style: solid;
    border-radius: 35px; /* Ajuste de borde */
    box-shadow: 0 3px 0 0 #fcfcfc;
    width: auto;
    margin: 0 auto; /* Centramos horizontalmente */
}

/*Como trabajamos*/
#Contend-servicios-edu{
    background-color: #E9F1FF;
    display: flex;
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
}

.col{
    color: #000000;
}
.col h3{
    color: #8729DE;
}
.col ul{
    text-align: left;
}
/*================================================*/
@media only screen and (max-width: 720px) {
    #contanier-card{
        margin: 50px;
    }
    .servicios-caja {
        flex-direction: column; /* Cambiamos la dirección del flexbox a columna */
        align-items: center; /* Centramos los elementos verticalmente */
    }
    .Aprenden-caja{
        flex-direction: column; /* Cambiamos la dirección del flexbox a columna */
        align-items: center; /* Centramos los elementos verticalmente */
    }
    /*===========Edu=====================*/
    .video-container {
        max-width: 800px; /* Aumentamos el ancho máximo */
        margin: 0 auto; /* Centramos el contenedor */
        padding-top: 60.25%; /* Mantenemos la relación de aspecto 16:9 */
        max-height: 700px; /* Reducimos la altura máxima */
    }

}
    
    


