/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*====================================*/
h2{
    color: #B9ACF4;
}
/*================BOTON DE MATRICULA====================*/
.Contend-matriculate{
    background-color: #ADE260;
    height: 80px;
}
/*==================Nivel Academico================*/
.benefecio{
    transition: .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 55px 0 0;
    background-color: #EAF2FF;
}

.h5-beneficio{
    text-align: center; 
}
.d-flex{
    justify-content: center;
}
.elemto-beneficio-tex{
    margin-left: 10px;
}
.row{
    
}
/*====================================*/

.servicios-caja {
    display: flex;
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
}
.servicios-caja div{
    margin: 50px;
}
.Aprenden-caja{
    display: flex;
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
}
.img-thumbnail{
    height: 450px;
}
@media only screen and (max-width: 768px) {
    .servicios-caja {
        flex-direction: column; /* Cambiamos la dirección del flexbox a columna */
        align-items: center; /* Centramos los elementos verticalmente */
    }
    .Aprenden-caja{
        flex-direction: column; /* Cambiamos la dirección del flexbox a columna */
        align-items: center; /* Centramos los elementos verticalmente */
    }
}