/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*====================================*/
h2{
    color: #4173FF;
    font-weight: 700;
}
/*================BOTON DE MATRICULA====================*/
.Contend-matriculate{
    background-color: #ADE260;
    height: 80px;
}
/*==================Nivel Academico================*/
/*NIVELES EDU*/
#contanier-card{
    margin: 100px;
}
/**Ofrecemos*/
#li-ofrecemos{
}

/**BENEFICIO*/
.benefecio{
    transition: .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 55px 0 0;
    background-color: #EAF2FF;
}

.h5-beneficio{
    text-align: center; 
}
.d-flex{
    justify-content: center;
}
.elemto-beneficio-tex{
    margin-left: 10px;
}
.col{
    margin-top: 20px;
}
/*====================================*/

.servicios-caja {
    display: flex;
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
}
.servicios-caja div{
    margin: 50px;
}
.Aprenden-caja{
    display: flex;
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
}
/*================Edu========*/
#container-texto-edu div{
    margin: 10px;
}
#container-texto-edu a{
    font-weight: 900;
    font-size: 32px;
    color:#EC3237;
}
h5{
    margin-top: 50px;
}
/*Modelo de aprendisaje*/
#li-ofrecemo-edus{
 color: #4173FF;
}
.bg-border-yellow {
    background-color: #ffe700;
    display: inline-block;
    padding: 5px 20px;
    font-size: 22px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: poppins, Sans-serif;
}
/*ahora la ultima secion */
#empieza-ya .contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(30,30,30);
    color: rgba(255, 255, 255, 0.993);
    /*sirve para poder darle una altura*/
    height: 50vh;
}
/*darle tamaÃ±o al titulo*/
#empieza-ya  h2{
    font-size: 5vw;
}

#empieza-ya button{
    /*sirve para darle tamaÃ±o al boton*/
    font-size: 1.75em;
    color: #e0e402;
    
    
}
/* sirve para que no decore la liena baja*/
#empieza-ya a{
    text-decoration: none;
    color: #000000;
}
@media only screen and (max-width: 768px) {
    #contanier-card{
        margin: 50px;
    }
    .servicios-caja {
        flex-direction: column; /* Cambiamos la dirección del flexbox a columna */
        align-items: center; /* Centramos los elementos verticalmente */
    }
    .Aprenden-caja{
        flex-direction: column; /* Cambiamos la dirección del flexbox a columna */
        align-items: center; /* Centramos los elementos verticalmente */
    }
}
